aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==25.3.0
audioop-lts==0.2.2
certifi==2025.8.3
charset-normalizer==3.4.3
colorama==0.4.6
decorator==5.2.1
defusedxml==0.7.1
edge-tts==7.2.3
filelock==3.19.1
frozenlist==1.7.0
fsspec==2025.9.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
Jinja2==3.1.6
llvmlite==0.45.0
MarkupSafe==3.0.2
more-itertools==10.8.0
moviepy==2.2.1
mpmath==1.3.0
multidict==6.6.4
networkx==3.5
numba==0.62.0
numpy==2.3.3
openai-whisper==20250625
pillow==11.3.0
proglog==0.1.12
propcache==0.3.2
PyAudio==0.2.14
pydub==0.25.1
python-dotenv==1.1.1
regex==2025.9.18
requests==2.32.5
setuptools==80.9.0
SpeechRecognition==3.14.3
standard-aifc==3.13.0
standard-chunk==3.13.0
sympy==1.14.0
tabulate==0.9.0
tiktoken==0.11.0
torch==2.8.0
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.5.0
yarl==1.20.1
youtube-transcript-api==1.2.2
